In [20]:
import pandas as pd
import numpy as np
from bokeh.io import output_notebook, show
from bokeh.plotting import figure
from bokeh.models import Band, ColumnDataSource, Range1d
# output_notebook()

In [21]:
d1 = pd.read_csv("Experiment-data/test-toolchain-mc.csv")
d2 = pd.read_csv("Experiment-data/test-umass-mc.csv")
d2

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9,mean,std
0,0,-1183,-550,-1247,-1510,-712,-1056,-1778,-2043,-1708,-903,-1269.0,485.726718
1,1,-577,-1290,-1830,-486,-670,-522,-127,-333,-965,-469,-726.9,505.291654
2,2,-551,-681,-362,-190,-796,-524,-188,-250,-238,-292,-407.2,217.135800
3,3,-318,-407,-284,-159,-444,-310,-177,-375,-491,-337,-330.2,106.577880
4,4,-191,-268,-367,-254,-253,-165,-157,-262,-201,-256,-237.4,61.811901
...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,195,-142,-165,-153,-178,-205,-164,-189,-163,-164,-210,-173.3,22.010351
196,196,-206,-165,-151,-163,-211,-149,-120,-164,-167,-205,-170.1,29.103074
197,197,-142,-155,-153,-164,-226,-160,-190,-147,-157,-213,-170.7,28.890791
198,198,-202,-161,-150,-182,-197,-159,-181,-164,-154,-284,-183.4,39.598541
199,199,-150,-173,-291,-206,-285,-152,-129,-159,-161,-233,-193.9,57.768600

In [22]:
maxValobj = d1.max()
max_mean_1 = maxValobj["mean"]
maxValobj = d2.max()
max_mean_2 = maxValobj["mean"]

In [24]:
Rm_1 = np.array(d1["mean"])
episodes_1 = np.array(range(15))
mean_rewards_1 = np.array(d1["mean"])
std_rewards_1 = np.array(d1["std"])

Rm_2 = np.array(d2["mean"])
episodes_2 = np.array(range(15))
mean_rewards_2 = np.array(d2["mean"])
std_rewards_2 = np.array(d2["std"])

source1 = ColumnDataSource(dict(
    x = episodes_1,
    mean = mean_rewards_1,
    std = std_rewards_1,
    upper = mean_rewards_1 + std_rewards_1,
    lower = mean_rewards_1 - std_rewards_1
))

source2 = ColumnDataSource(dict(
    x = episodes_2,
    mean = mean_rewards_2,
    std = std_rewards_2,
    upper = mean_rewards_2 + std_rewards_2,
    lower = mean_rewards_2 - std_rewards_2
))

p1 = figure(
    title = "TD learning in SNN: MountainCar (UMASS)",
    x_axis_label = "Episodes",
    y_axis_label = "Mean Rewards"
)

band1 = Band(base='x', lower='lower', upper='upper', source=source1, level='underlay',
            fill_alpha=0.2, line_width=1, line_color='black', fill_color='navy')
p1.line(x=episodes_1, y=mean_rewards_1, line_width=2, color='navy', legend_label='Rate neurons (gym + NEST)')

band2 = Band(base='x', lower='lower', upper='upper', source=source2, level='underlay',
            fill_alpha=0.2, line_width=1, line_color='black', fill_color='orange')
p1.line(x=episodes_2, y=mean_rewards_2, line_width=2, color='orange', legend_label='Spiking actors (UMASS)')


p1.add_layout(band1)
p1.add_layout(band2)

p1.y_range=Range1d(-2000, 0)
p1.legend.location = 'bottom_right'

show(p1, browser="chrome")

BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('lower', 160), ('mean', 160), ('std', 160), ('upper', 160), ('x', 15)
BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('lower', 200), ('mean', 200), ('std', 200), ('upper', 200), ('x', 15)
BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('x', 15), ('y', 160)
BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('x', 15), ('y', 200)